
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/application-db
TEST_DATABASE_URL=sqlite+aiosqlite://
REDIS_URL=redis://localhost:6379
CELERY_BROKER_URL=amqp://

SECRET_KEY=hire_me

